.node{
    display: inline-block;
    padding: 10px;
    content: "";
    border : 1px solid #afc3c2;
    margin-bottom: -5px;
    margin-right: -1px;

}

// .isVisited{
//     background-color: lightcoral;
// }



.isWall{
    background-color: black
}



.isVisited {
    animation-name: visitedAnimation;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 0.1;
    animation-direction: alternate;
    animation-iteration-count: 1;
    // animation-fill-mode: forwards;
    // animation-play-state: running;
    background-color: rgba(0, 190, 218, 0.75);
  }
  
  @keyframes visitedAnimation {
    0% {
      // transform: scale(0.5);
      background-color: rgba(164, 8, 255, 0.75);
      border-radius: 100%;
      // opacity: 0;

    }
  
    // 50% {
    //   background-color: rgba(17, 104, 217, 0.75);
    // }
  
    // 75% {
    //   // transform: scale(1);
    //   background-color: rgba(0, 190, 211, 1);
    // }
  
    100% {
      // transform: scale(1);
      
      background-color: rgba(0, 190, 218, 0.75);
      border-radius: 0;
    }
  }

.inPath{
    background-color: yellow !important;
}



.full{
  width : 100%;
  height: 100%;
}